.padContainer {
    width: 280px;
    height: 280px;
    position: absolute;
    overflow: hidden;
}
.padCircle {
    box-shadow: 2px 2px 8px rgba(8.742498680949211, 12.516228184103966, 45.82400970160961, 1);
    background-image: linear-gradient(
        0deg,
        rgba(75.22500425577164, 75.22500425577164, 153.00000607967377, 1) 0%,
        rgba(29.000000171363354, 29.000000171363354, 65.0000037252903, 1) 100%
    );
    width: 280px;
    height: 280px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 140px;
    border-top-right-radius: 140px;
    border-bottom-left-radius: 140px;
    border-bottom-right-radius: 140px;
}

.e68_269 {
    width: 204px;
    height: 204.00006103515625px;
    position: absolute;
    left: 38px;
    top: 37.99993896484375px;
}
.e68_270 {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 159px;
    top: 79px;
}
.e68_271 {
    border-radius: 500px;
    background-image: linear-gradient(
        0deg,
        rgba(88.24654832482338, 88.24654832482338, 162.9167139530182, 1) 0%,
        rgba(21.179180033504963, 21.179180033504963, 65.1667083799839, 1) 100%
    );
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.e68_272 {
    transform: rotate(89.99999931675467deg);
    background-color: rgba(255, 255, 255, 0.800000011920929);
    width: 24px;
    height: 20px;
    position: absolute;
    left: 33px;
    top: 10.5px;
    border-radius: 1px;
}
.e68_273 {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0px;
    top: 79px;
}
.e68_274 {
    border-radius: 500px;
    background-image: linear-gradient(
        0deg,
        rgba(88.24654832482338, 88.24654832482338, 162.9167139530182, 1) 0%,
        rgba(21.179180033504963, 21.179180033504963, 65.1667083799839, 1) 100%
    );
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.e68_275 {
    transform: rotate(90.00000068324535deg);
    background-color: rgba(255, 255, 255, 0.800000011920929);
    width: 24px;
    height: 20px;
    position: absolute;
    left: 13px;
    top: 11px;
    border-radius: 1px;
}
.e68_276 {
    transform: rotate(-90.00000250447808deg);
    width: 45px;
    height: 45px;
    position: absolute;
    left: 79.5px;
    top: 45.000003814697266px;
}
.e68_277 {
    border-radius: 500px;
    background-image: linear-gradient(
        0deg,
        rgba(88.24654832482338, 88.24654832482338, 162.9167139530182, 1) 0%,
        rgba(21.179180033504963, 21.179180033504963, 65.1667083799839, 1) 100%
    );
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.e68_278 {
    transform: rotate(89.99999931675457deg);
    background-color: rgba(255, 255, 255, 0.800000011920929);
    width: 24px;
    height: 20px;
    position: absolute;
    left: 32px;
    top: 10.500001907348633px;
    border-radius: 1px;
}
.e68_279 {
    transform: rotate(90.00000250447808deg);
    width: 45px;
    height: 45px;
    position: absolute;
    left: 80px;
    top: 159.00006103515625px;
}
.e68_280 {
    border-radius: 500px;
    background-image: linear-gradient(
        0deg,
        rgba(88.24654832482338, 88.24654832482338, 162.9167139530182, 1) 0%,
        rgba(21.179180033504963, 21.179180033504963, 65.1667083799839, 1) 100%
    );
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.e68_281 {
    transform: rotate(89.99999931675457deg);
    background-color: rgba(255, 255, 255, 0.800000011920929);
    width: 24px;
    height: 20px;
    position: absolute;
    left: 32.00006103515625px;
    top: 11.000001907348633px;
    border-radius: 1px;
}
