.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: blue;
}

.box {
    width: 200px;
    height: 200px;
    background: red;
}
.Miscellaneous {
    overflow: hidden;
}
.cssBtn {
    background-color: red;
}

.cssBtn[data-isTrue='true'] {
    background-color: blue;
}
